*.buildpath
.project
*.prefs
*.svn/*
*.svn-base
*.db
ZH_CN/android/Android排期.xlsx
KO_KR/android/android-tips.json
KO_KR/ios/ios-tips.json
ZH_CN/.svn
KO_KR/.svn
KO_KR/router/router-tips.json
ZH_CN/android/android-tips.json
ZH_CN/ios/ios-tips.json
ZH_CN/router/router-tips.json
ZH_CN/ly/*
KO_KR/res/*
JP/.svn
JP/res/*